.container {
    margin: 10px 0 10px 15px;
}

.image-container {
    display: inline-block;   
}

.thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-right: 5px;
  border: 0;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}