header {
    height: 50px;
    background-color: black
}

.info-icon {
    height: inherit;
    background-color: white
}

#demo {
    position: fixed;
    right: 10px
}

form {
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    margin-right: 50px
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: black;
    color: white;
}

.footer span {
    font-size: small;
}
